body{
  /*background-color: yellow;*/
}

h1{
  width: 20em;
  text-align: center;
  margin-left: -5em;
}

table{
  /*border: 2px solid black;*/
  height: 20em;
  width: 20em;
  border-collapse: collapse;
}

td{
  text-align: center;
  border: .5px solid white;
  background-color: rgb(51,172,47);
}

.Empty{
  border-right: none;
}

.Func{
  background-color: rgb(89,179,85);
}
