

h1{
  width: 20em;
  text-align: center;
  margin-left: -4em;
}

table{
  height: 25em;
  width: 25em;
  border-collapse: collapse;
}

td{
  text-align: center;
  border: .5px solid white;
  background-color: rgb(51,172,47);
}

button{
  background-color: rgb(51,172,47);
  width: 100%;
  height: 100%;
  font-size: 1em;
  color: white;
}

.operator{
  background-color: rgb(89,179,85);
  color: rgb(64,100,56);
}

.Clear{
  width: 25%;
}
